@model IEnumerable<ControleFinanceiro1.Models.Estabelecimento>

@{
    ViewBag.Title = "Estabelecimentos";
}

<h3 style="background-color: #337ab7;color: #fff;padding: 3px;">Estabelecimentos</h3>

<br />

<table class="table">
    <tr>
        <th>    
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EstabelecimentoID }) |
            @Html.ActionLink("Details", "Details", new { id=item.EstabelecimentoID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EstabelecimentoID })
        </td>
    </tr>
}

</table>

<br />

<p class="text-right">
    <!-- @Html.ActionLink("Adicionar", "Create") -->
    <button type="button" class="btn btn-success" onclick="location.href = 'Estabelecimentoes/Create';"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Adicionar</button>
</p>