@model IEnumerable<ControleFinanceiro1.Models.Log>

@{
    ViewBag.Title = "Logs";
}

<h3 style="background-color: #337ab7;color: #fff;padding: 3px;">Logs</h3>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DataHora)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Operacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Identificacao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DataHora)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Operacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Identificacao)
        </td>
        <!--
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.LogID }) |
            @Html.ActionLink("Details", "Details", new { id=item.LogID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.LogID })
        </td>
        -->
    </tr>
}
   
</table>
