@model ControleFinanceiro1.Models.Compra

@{
    ViewBag.Title = "Detalhes da Compra";
}

<h3 class="page_header">Detalhes da Compra</h3>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Categoria.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categoria.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estabelecimento.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estabelecimento.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Valor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valor)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.CompraID }) |
    @Html.ActionLink("Voltar", "Index")
</p>
