@model IEnumerable<ControleFinanceiro1.Models.Compra>

@{
    ViewBag.Title = "Compras";
}

<h2>Compras</h2>

<p>
    <!-- @Html.ActionLink("Adicionar", "Create") -->
    <button type="button" class="btn btn-success" onclick="location.href = 'Compras/Create';"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Adicionar</button>

</p>

@using (Html.BeginForm("Index", "Compras", FormMethod.Get))
{
    <p>
        Filtro: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}


<table class="table" >
    <tr>
        <th>
            @Html.ActionLink("Categoria", "Index", new { sortOrder = ViewBag.CategoriaSortParm, SearchString = ViewBag.CurrentFilter, page= ViewBag.page})
        </th>
        <th>
            @Html.ActionLink("Estabelecimento", "Index", new { sortOrder = ViewBag.EstabelicimentoSortParm, SearchString = ViewBag.CurrentFilter, page = ViewBag.page })
        </th>
        <th>
            @Html.ActionLink("Data", "Index", new { sortOrder = ViewBag.DateSortParm, SearchString = ViewBag.CurrentFilter, page = ViewBag.page })
        </th>
        <th>
            @Html.ActionLink("Valor", "Index", new { sortOrder = ViewBag.ValorSortParm, SearchString = ViewBag.CurrentFilter, page = ViewBag.page })
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Categoria.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estabelecimento.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Data, "{0:dd/MM/yyyy}")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Valor)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CompraID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CompraID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CompraID })
        </td>
    </tr>
}

</table>

<br />



<nav aria-label="Page navigation" class="text-right">
    <ul class="pagination">
        @if (ViewBag.page != 1)
        {
            <li>
                @Html.ActionLink("«", "Index", new { sortOrder = ViewBag.SortParm, page = ViewBag.page-1, SearchString = ViewBag.CurrentFilter })
            </li>
        }

       
        @for (var i = 1; i <= ViewBag.num_pages; i++)
        {

                <li @{if (ViewBag.page == i) { <text>class="active"</text> }}>
                    @Html.ActionLink(i.ToString(), "Index", new { sortOrder = ViewBag.SortParm, page = i, SearchString = ViewBag.CurrentFilter })
                </li>
        }

        @if (ViewBag.page != ViewBag.num_pages)
        {
            <li>
                @Html.ActionLink("»", "Index", new { sortOrder = ViewBag.SortParm, page = ViewBag.page +1, SearchString = ViewBag.CurrentFilter })
            </li>
        }

    </ul>
</nav>